* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 1024px;
    margin: auto;
    height: 100%;
}

.f-right {
    float: right;
}

/* nav */

header {
    height: 80px;
}

.logo-container {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

.lists-container {
    display: inline-block;
    width: 83%;
    vertical-align: middle;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    font-size: 10px;
    line-height: 80px;
}

header nav ul {
    display: inline-block;
}

/* hero-section */
.hero-section {
    height: 450px;
}

.hero-left {
    width: 50%;
    height: 100%;
    position: relative;
}

.hero-text-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* first banner */
.banner h3, .banner p {
    text-align: center;
}

/* section 1 */

.col-3 {
    float: left;
    width: 33.3333%;
}

/* section-2 */

.col-2 {
    float: left;
    width: 50%;
}

/* user classes */

.border {
    border: 1px solid black;
}

.bg-azzurro {
    background-color: rgb(24, 197, 228);
}

.bg-rosa {
    background-color: rgb(240, 106, 233);
}

.col-3 {
    height: 50px;
}

.col-2 {
    height: 100px;
}

/* .section-1 {
    height: 200px;
} */